name: Nextcloud
# renovate: datasource=docker depName=docker.io/library/nextcloud
version: 32.0.2-0
slug: nextcloud
description: A safe home for all your data
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
init: false
webui: http://[HOST]:[PORT:80]/
tcp: tcp://[HOST]:[PORT:80]
apparmor: true
ports:
  80/tcp: null
  9000/tcp: null
map:
  - addon_config:rw
  - share:rw
options:
  apps_dir: /share/nextcloud/apps
  config_dir: /share/nextcloud/config
  data_dir: /share/nextcloud/data
  domains: ""
  database_host: core-mariadb
  database_name: ""
  database_user: ""
  database_password: ""
  redis_host: 12fdc862-redis
schema:
  apps_dir: str
  config_dir: str
  data_dir: str
  domains: str?
  database_host: str?
  #database_port: port?
  database_name: str?
  database_user: str?
  database_password: password?
  redis_host: str?
  redis_port: port?
  cronjobs:
    - match(^[0-9/*,]+\s+[0-9/*,]+\s+[0-9/*,]+\s+[0-9/*,]+\s+[0-9/*,]+\s+\S)?
codenotary: escoand@users.noreply.github.com
services:
  - mysql:want
