name: Restic
# renovate: datasource=docker depName=docker.io/mazzolino/restic
version: 1.8.2-2
slug: restic
description: fast and secure backup program
arch:
  - armv7
  - aarch64
  - amd64
init: false
startup: system
map:
  - addon_config:rw
  - backup
  - homeassistant_config
  - share
homeassistant_api: true
options:
  backup_dirs: /backup /homeassistant /share
  backup_cron: 0 0 2 * * *
  restic_repository: b2:...:/backups
  restic_password: null
  restic_backup_args: >-
    --exclude '*.log'
    --exclude 'appdata_*'
    --exclude 'files_trashbin'
    --exclude 'updater-*'
    --exclude-if-present '.nobackup'
  restic_forget_args: >-
    --keep-daily 7
    --keep-weekly 5
    --keep-monthly 12
schema:
  backup_dirs: str
  backup_cron: str
  restic_repository: str
  restic_password: password
  restic_backup_args: str?
  restic_forget_args: str?
  b2_account_id: str?
  b2_account_key: password?
  s3_access_key: str?
  s3_secret_key: password?
codenotary: escoand@users.noreply.github.com
